@media screen and (min-width: 1950px)
	body, .btn
		font-size: 0.85vw

	h3.sec-title
		font-size: 2.1vw
		letter-spacing: 0.63vw

	.secure-cont, .automate-cont
		span
			font-size: 1.46vw
		ul li
			font-size: 1.35vw
			line-height: 2vw

	.automate-cont
		ul li
			line-height: 2.05vw

	.animatedTitle
		.subTitle
			letter-spacing: 0.55vw
			font-size: 1.04vw
		.mainTitle
			font-size: 2.93vw
			letter-spacing: 1.47vw
			line-height: 3.1vw
	.btn
		padding: 0.25vw 1.1vw
		margin-right: 1.1vw
		border-radius: 0.25vw

	.container
		max-width: 90%

	.video-container
		perspective: 900px
		.video-wrapper
			&.left-bent
				transform: rotateY(-12deg) scale(1, 1.2)
			.controls-strip
				height: 5vw
				.maximize-video
					width: 4vw
					height: 4vw

	.section-body
		width: 100%
	
	header.haeader-panel
		.navbar
			.navbar-nav
				width: 30vw
				li
					a
						font-size: 1vw

	.first-slide
		.slide-content
			// padding-top: 70px
			padding-top: 2vw
		.main-title
			margin-top: 5.2vw
			h1
				margin-bottom: 0
				font-size: 2.45vw
				line-height: 2.95vw

		span.sub-title
			font-size: 1.46vw

		.slide-logo
			&, img
				height: 13vw

		.get-started
			.input-field
				width: 33vw
				height: 3vw
				border-radius: 0.5vw
			input
				height: calc(3vw - 4px)
				font-size: 1.3vw
				text-indent: 1vw
				border-radius: 0.5vw

		.video-slide
			.intro-slide
				margin-top: 4vw
				img
					width: 60vw
			a.play
				width: 5vw
				height: 5vw
				margin-left: -2.5vw
				top: 2vw
				&:before
					border-width: 0.7vw 0 0.7vw 1.2vw

	.second-slide
		.content-wrapper
			.section-body
				padding-top: 180px

		.second-title
			.sub-title
				font-size: 1.8vw

		.how-it-work
			max-width: 70%
			margin-top: 30px
			p
				font-size: 0.94vw
				letter-spacing: 0.05vw

			h3
				font-size: 2.02vw
				margin-bottom: 0.8vw

		.boxes
			max-width: 85%
			margin-top: 8vh
			&, &.box2
				padding-top: 1vh
				padding-bottom: 5vh
			.hand1, .hand2
				svg
					width: 100%
					height: 100%
			.hand1
				top: 0
				width: 70%
				height: 5.5vh
				left: 12%
			.hand2
				width: 55%
				height: 8vh
				// left: 8%
			.user-thumb
				width: 20vh
				.thumb-wrap
					left: 2vh
					top: 1.5vh
				svg
					width: 13vh
			.user-desc
				height: auto
				min-height: 18vh
				width: calc(100% - 20vh)
			&.box2
				.hand1
					right: 12%
				.user-thumb
					.thumb-wrap
						left: auto
						right: 2vh
						top: 1.5vh
				.user-desc
					height: auto

	.third-slide
		.content-wrapper
			padding: 22vw 0
		.outer
			margin-top: 80px

		.secure-cont
			top: 12vw
			padding-top: 3.5vw
			p
				font-size: 1.35vw
				margin-bottom: 1.7vw

	.forth-slide
		.outer
			margin-top: 180px
		.automate-cont
			margin-top: 80px
		// .atomate-img
		// 	margin-top: 30px
	
	.fifth-slide
		.video-container
			top: 5.5vw

	.sixth-slide, .seventh-slide, .eighth-slide, .ninth-slide
		.outer
			margin-top: 150px

	.sixth-slide
		.automate-cont
			ul
				li
					line-height: 2.63vw
		.mobile-frame
			width: 60%
			padding: 4.9% 4.4%

	.seventh-slide
		.secure-cont
			ul
				li
					line-height: 2.65vw

	.eighth-slide
		.section-body
			height: 52vw
		.sec-title
			margin-bottom: 2.65vw
		.description
			perspective: 1300px
			.secure-cont
				ul li
					line-height: 1.7vw
					margin-bottom: 1.2vw
		.video-container
			top: 5.2vw
			perspective: 1300px
			video
				height: 50vw

	.ninth-slide
		.video-container
			transform: scale(1, 1)
			perspective: 900px
		.automate-cont
			span
				font-size: 1.36vw
				line-height: 1.75vw
			ul li
				line-height: 2.5vw

	.tenth-slide
		.outer
			margin-top: 100px

	.eleventh-slide
		.outer
			margin-top: 40px

	footer
		.footer-links
			h3
				font-size: 1.25vw
			ul li
				margin-left: 0.9vw

		.footer-content .container
			margin-top: 2vw
			margin-bottom: 1vw
	
@media screen and (max-width: 1950px)

	.container
		max-width: 1700px
	.section-body
		width: calc(100% - 100px)
		.outer
			margin-top: 80px
	
	header.haeader-panel 
		.navbar 
			.navbar-nav
				width: 500px
		.login-signup
			top: 42px

	.first-slide
		.slide-content
			padding-top: 30px
		
		.slide-logo
			height: 200px
			svg
				width: 400px

		.get-started
			margin-top: 0
					// width: 42px

		.video-slide 
			margin-bottom: 0
			.intro-slide
				margin-top: 80px
				// im
					// width: 950px
			a.play
				width: 90px
				height: 90px
	
	.second-title 
		// padding: 0 50px
		.section-body
			padding-top: 80px
		.sub-title
			font-size: 26px

	.how-it-work 
		h3
			font-size: 30px
			margin-bottom: 10px
		p
			font-size: 18px

	.forth-slide
		.outer
			margin-top: 80px

	section.fixed-section
		.how-it-work 
			.boxes
				&.box1, &.box3 
					&:after
						width: 180px
						height: 50px
				&.box2
					.user-thumb
						&:before
							width: 430px
							height: 70px
						&:after
							width: 430px
							height: 50px

@media screen and (max-width: 1600px)
	section.joining-section
		&:before, &:after
			transform: skewY(-7deg)

	.automate-cont ul li
		font-size: 24px

	.third-slide
		.secure-cont
			width: calc(100% + 150px)

		&.loaded
			.joining-section.second-third
				&:before, &:after
					height: 200px

	.fifth-slide 
		.content-wrapper
			padding-top: 250px
			padding-bottom: 200px
		.video-container
			width: 63%
			bottom: 50px

	.seventh-slide 
		.section-body
			padding: 50px 0 200px

	section.block.eighth-slide 
		.sec-title
			white-space: pre-wrap

@media screen and (max-width: 1366px)
	section.joining-section
		&.seventh-eighth
			height: 450px
		&.ninth-tenth
			height: 200px
			&:before
				transform: skewY(7deg)
			&:after
				transform: skewY(7deg)

	.automate-cont 
		span
			font-size: 24px
			padding: 20px 0 30px

		ul li
			font-size: 22px

	.third-slide
		.shield-sec
			position: static

		.backdor-shield
			width: 80%
			left: 10%

		.secure-cont
			margin-left: 80px
			padding-top: 100px
			width: calc(100% + 250px)


	.forth-slide 
		.section-body
			padding-top: 50px
		.video-container
			transform: scale(1.3)

	.seventh-slide
		.video-container
			transform: scale(1.1)
	
	section.block.eighth-slide 
		.section-body
			height: 700px

		.section-title
			margin-bottom: 30px

		.description 
			.secure-cont ul li
				margin-bottom: 10px
		.video-container
			top: 50px
			.video-wrapper.right-bent
				transform: rotateY(13deg)
			video
				height: 600px

	.ninth-slide
		// .section-body
			// padding-top: 50px

		.automate-cont
			flex: 0 0 35%
			max-width: 35%
			margin-top: 0
			& + div
				flex: 0 0 65%
				max-width: 65%

		.video-container
			margin-top: 60px
			transform: scale(1.3)

@media screen and (max-width: 1200px)
	.automate-cont, .secure-cont
		ul
			li
				font-size: 22px
				
	.fifth-slide 
		.automate-cont.grid-bg
			flex: 0 0 50%
			max-width: 50%
			padding-right: 0

		.video-container
			left: 50%
			right: auto
			transform: scale(1.3)
			transform-origin: top left
			margin-top: 30px

	.seventh-slide
		.section-body
			padding-bottom: 50px

		.secure-cont
			padding-right: 20px
			margin-top: 60px
			&, & + div
				flex: 0 0 50%
				max-width: 50%

			& + div
				padding: 0

		.video-container
			transform-origin: top left
			transform: scale(1.5)
	
@media screen and (max-width: 1100px)
	.video-container
		&.zoomable
			position: relative
			&:before
				content: ''
				float: left
				width: 100%
				display: inline-block
				padding-top: calc(100% / 1.5)
			.video-wrapper
				overflow: hidden
				position: absolute
				top: 0
				left: 0
				width: 100%
				height: 100%
				transform-origin: center
				.controls-strip
					.controls
						position: relative
						float: left
			video
				position: absolute
				top: 50%
				left: 50%
				width: auto
				height: 100%
				float: left
				transform: translateX(-50%) translateY(-50%)
				border: none

	h3.sec-title
		font-size: 35px
		letter-spacing: 5px
	section.joining-section
		&.seventh-eighth
			height: 400px

	.automate-cont, .secure-cont 
		ul li
			font-size: 20px

	.video-wrapper 
		.controls-strip
			height: 70px
			padding: 10px 0
			.play-button, .maximize-video
				width: 50px
				height: 50px
	
	.second-slide 
		.second-title
			padding: 0

	.third-slide 
		.backdor-shield
			top: 40%

		.secure-cont
			top: 150px

	.fourth-slide
		.automate-cont
			&, & + div
				flex: 0 0 50%
				max-width: 50%
		.video-container
			&:before
				padding-top: calc(100% * 0.8)
			transform-origin: top left
			transform: scale(1.7)

	.fifth-slide .video-container
		transform: scale(1)
		width: 900px
		margin-top: 0
		position: absolute
		video
			width: 140%

		.video-wrapper .controls-strip .controls
			left: 35%

	
	.sixth-slide
		.section-body
			padding: 0 0

		.mobile-frame
			transform: scale(0.8)

	.seventh-slide
		z-index: 2 !important 
		.section-body
			padding-top: 0
			padding-bottom: 200px
		.secure-cont 
			margin-top: 120px
			ul li
				line-height: 26px
				margin-bottom: 20px
		.video-container
			position: absolute
			top: 0
			left: 0
			width: 900px
			transform: scale(1)
			.video-wrapper.left-bent
				border-radius: 15px
				transform-origin: left center
				transform: rotateY(-12deg) scale(1)

				.controls-strip .controls
					left: 35%

	section.block.eighth-slide 
		.description
			.secure-cont
				width: 45%
				position: relative
				left: 12%
				transform: rotateY(13deg)

		.video-wrapper .controls-strip .controls
			float: right
			position: relative
			right: 35%

	.ninth-slide 
		.video-container
			width: 800px
			margin-top: 10px
			.video-wrapper.left-bent.left-origin
				transform: rotateY(-12deg);
				.controls-strip .controls
					left: 35%

@media screen and (min-width: 992px)
	.second-slide
		.second-title, .boxes
			opacity: 0

		&.loaded
			.second-title, .boxes
				opacity: 1

	.third-slide
		.joining-section
			position: absolute
			z-index: 10
			// height: calc(50% +
			&.second-third
				left: 0
				top: 0
				height: 100%
				.before, .after
					background-color: #04050A
					transition: all ease-out 1s 1s
					z-index: 1
				.after
					bottom: 0
					top: auto
				.top-flap, .bottom-flap
					position: absolute
					width: 100%
					height: 50%
					left: 0
					background-color: #04050A
					transition: all ease 2s 1.6s
					transform: skewY(-10deg)
					z-index: 0
					&:before
						content: ''
						position: absolute
						left: 0
						width: 100%
						height: 1px
						background-color: $purple
						transform-origin: center
						transition: all ease 0.5s 1s
						transform: scale(0, 1)
				.top-flap
					top: 1px
					transform-origin: bottom center
					&:before
						bottom: 0
				.bottom-flap
					transform-origin: top center
					bottom: 1px
					&:before
						top: 0

		.backdor, .backdor-shield, .sec-title, p
			opacity: 0

		&.loaded
			.backdor, .backdor-shield, .sec-title, p
				opacity: 1

			.joining-section
				&.second-third
					.top-flap, .bottom-flap
						&:before
							transform: scale(1,1)
					.top-flap
						top: -50%
					.bottom-flap
						bottom: -50%

	.fourth-slide
		.sec-title, .automate-cont span, .automate-cont ul li, .video-container
			opacity: 0

		&.loaded
			.sec-title, .automate-cont span, .automate-cont ul li, .video-container
				opacity: 1

	.fifth-slide
		.sec-title, .automate-cont ul li, .video-container, .joining-section
			opacity: 0

		&.loaded
			.sec-title, .automate-cont ul li, .video-container
				opacity: 1

	.sixth-slide
		.sec-title, .automate-cont ul li, .mobile-frame
			opacity: 0

		&.loaded
			.sec-title, .automate-cont ul li, .mobile-frame
				opacity: 1

	.seventh-slide
		.sec-title, .secure-cont ul li, .video-container
			opacity: 0

		&.loaded
			.sec-title, .secure-cont ul li, .video-container
				opacity: 1

	.eighth-slide
		.sec-title, .secure-cont ul li, .video-container
			opacity: 0

		&.loaded
			.sec-title, .secure-cont ul li, .video-container
				opacity: 1

	.ninth-slide
		.sec-title, .automate-cont span, .automate-cont ul li, .video-container
			opacity: 0

		&.loaded
			.sec-title, .automate-cont span, .automate-cont ul li, .video-container
				opacity: 1

	.eleventh-slide
		.api-container
			ul
				position: absolute
				width: 200px
				height: 200px
				top: 50%
				left: 50%
				transform: translateX(-50%) translateY(-50%)

				li
					position: absolute
					width: 100%
					height: 100%
					top: 0
					left: 0
					&:nth-of-type(1)
						top: -230px
						left: -460px
						transform: translateY(230px) translateX(460px)
					&:nth-of-type(2)
						top: -230px
						left: 0px
						transform: translateY(230px) translateX(0px)
					&:nth-of-type(3)
						top: -230px
						left: 460px
						transform: translateY(230px) translateX(-460px)

					&:nth-of-type(4)
						top: -115px
						left: -690px
						transform: translateY(115px) translateX(460px)
					&:nth-of-type(5)
						top: -115px
						left: -230px
						transform: translateY(115px) translateX(230px)
					&:nth-of-type(6)
						top: -115px
						left: 230px
						transform: translateY(115px) translateX(-230px)
					&:nth-of-type(7)
						top: -115px
						left: 690px
						transform: translateY(115px) translateX(-460px)
					&:nth-of-type(8)
						top: 0px
						left: -460px
						transform: translateY(0) translateX(460px)
					&:nth-of-type(9)
						top: 0px
						left: 460px
						transform: translateY(0) translateX(-460px)
					&:nth-of-type(10)
						top: 115px
						left: -690px
						transform: translateY(-115px) translateX(460px)
					&:nth-of-type(11)
						top: 115px
						left: -230px
						transform: translateY(-115px) translateX(230px)
					&:nth-of-type(12)
						top: 115px
						left: 230px
						transform: translateY(-115px) translateX(-230px)
					&:nth-of-type(13)
						top: 115px
						left: 690px
						transform: translateY(-115px) translateX(-460px)
					&:nth-of-type(14)
						top: 230px
						left: -460px
						transform: translateY(-115px) translateX(460px)
					&:nth-of-type(15)
						top: 230px
						left: 0px
						transform: translateY(-115px) translateX(0px)
					&:nth-of-type(16)
						top: 230px
						left: 460px
						transform: translateY(-115px) translateX(-460px)
					&:hover
						background-color: $purple
						img
							opacity: 1
							transform: scale(1)

@media screen and (max-width: 992px)
	h3.sec-title
		font-size: 30px

	section.block 
		min-height: unset
		.section-body
			display: inline-block
			width: calc(100% - 50px)
			margin-left: 25px
		&.first-slide
			min-height: 100vh

	.automate-cont, .secure-cont
		ul
			li
				font-size: 18px
				line-height: 26px
				margin-top: 15px
	
	.main-title h1
		font-size: 40px
	span.sub-title
		font-size: 24px

	header
		.logo
			height: 56px

	.first-slide
		.slide-logo img
			height: 20vw

		.video-slide
			a.play
				width: 80px !important
				height: 80px !important
				top: 0
				&:before
					border-width: 13px 0 13px 22px !important
			.intro-slide
				width: 100%
				img
					width: 100%

	.second-slide
		padding-bottom: 80px
		.how-it-work
			h3
				margin-bottom: 10px
				padding-left: 100px
			p
				text-indent: 70px
		.boxes
			&, &.box2
				padding: 0
				float: left
				text-align: left
				.user-thumb
					background: #04050A
					float: left
					.thumb-wrap
						top: 0
						left: 0

				.user-desc
					height: auto

				.hand1, .hand2
					transform: none
					right: auto
					bottom: auto
					background-color: #04050A
					width: calc(100% - 44px)
					left: 21px
					height: calc(100% - 74px)
					top: 60px
					border-radius: 20px
					&.hand1
						width: calc(100% - 40px)
						left: 20px
						height: calc(100% - 70px)
						top: 59px
						// background-color: red
						background: linear-gradient(135deg, $blue_color, $purple, $purple, transparent 85%)
						overflow: hidden
					svg
						display: none

			.user-thumb
				position: relative
				border-radius: 100%
				width: 160px
				padding: 20px
				margin-bottom: -80px
				z-index: 10
				left: -20px
				.thumb-wrap
					top: 0
					left: 0
					right: auto
					
				svg
					width: 100%
			.user-desc
				padding: 0 50px 20px
				width: auto
				min-height: unset
				position: relative
				z-index: 9
				// .user-desc-wrap
				// 	&:before
				// 		content: ''
				// 		float: left
				// 		width: 200px
				// 		height: 120px

	.third-slide
		.section-body
			padding-bottom: 150px
		.backdor
			margin-bottom: 80px
		.backdor-shield
			width: 100%
			left: 0
			top: 45%

	.fifth-slide 
		.automate-cont
			ul li
				line-height: 26px
		.video-container
			width: 700px
	
	.sixth-slide 
		.automate-cont
			ul
				margin-top: 20px
				li
					line-height: 26px

	.seventh-slide 
		.secure-cont
			padding-left: 15px
			padding-right: 10px
		.video-container
			width: 800px

	.ninth-slide 
		.automate-cont 
			span
				font-size: 20px
			ul li
				font-size: 18px
				line-height: 26px

	.eleventh-slide 
		.automate-cont
			margin-top: 0
			margin-bottom: 15vw
		.api-container
			margin-top: 30px
			.logo
				display: none
			ul 
				position: relative
				width: calc(100% + 20px)
				top: 0
				left: -10px
				transform: none
				text-align: center
				display: flex
				flex-direction: row
				flex-wrap: wrap
				justify-content: space-evenly
				li
					flex: 0 0 30%
					// width: calc(33)
					float: none
					margin: 10px
					opacity: 1
					position: relative

@media screen and (min-width: 890px)
	.second-slide
		.content-wrapper
			.section-body
				padding-top: 50px

	.eleventh-slide
		.outer
			margin-top: 0px

@media screen and (max-width: 768px)
	header
		.navbar
			background-color: $black
	.video-container.zoomed,
	.video-container.zoomable
		&:before
			display: none
		.video-wrapper
			position: relative
			width: 100%
		video
			position: relative
			transform: none
			width: 100%
			left: 0
			top: 0

	.animatedTitle 
		display: inline-block
		width: calc(100% + 50px)
		margin-left: -25px
		.subTitle
			letter-spacing: 1vw
			font-size: 2.8vw
		.mainTitle
			font-size: 30px
			font-size: 6vw
			letter-spacing: 2.5vw
			span
				&:before, &:after
					width: 80%
				&:before
					animation: moveLeftRight ease 6s, moveLeftRightLoop ease 6s 6s infinite
				&:after
					animation: moveRightLeft ease 7s 0.5s, moveRightLeftLoop ease-in-out 5s 7.5s infinite

	.automate-cont, .secure-cont
		text-align: center
		ul
			padding: 0
			li
				list-style: none

	
	.second-slide
		padding-bottom: 30vw
		.second-title .sub-title
			font-size: 3.5vw
			margin-top: 30px
		.how-it-work
			h3
				font-size: 24px
				font-weight: 500
				padding-left: 60px
			p
				font-size: 14px
				text-indent: 20px
		.boxes
			margin-top: 30px
			.user-thumb
				position: relative
				border-radius: 100%
				width: 120px
				padding: 20px
				margin-bottom: -45px
				z-index: 10
				left: -20px
				.thumb-wrap
					top: 0
					left: 0
					right: auto
					
				svg
					width: 100%
			.user-desc
				padding: 0 50px 20px
				width: auto
				min-height: unset
				position: relative
				z-index: 9

	.third-slide
		.sec-title
			display: none
		.bgi
			background-color: $black
			&:before
				background-size: cover
			&:after
				// opacity: 0.5
		.content-wrapper
			padding: 30vw 0
		.row
			position: relative

		.backdor
			margin-bottom: 20vw

		.section-body
			padding-top: 50px
		.secure-cont
			margin-left: 0
			width: 100%
			padding: 30vw 20px 0
			p
				font-size: 16px

		.backdor-shield
			transform: none
			top: 0
			width: 120%
			left: -10%
			

	.fourth-slide 
		.automate-cont
			&, & + div
				flex: 0 0 100%
				max-width: 100%


		.video-container
			width: 100%
			transform: scale(1)

	.fifth-slide 
		h3.sec-title
			text-align: center

		.automate-cont.grid-bg
			padding: 30px 0 0
			flex: 0 0 100%
			max-width: 100%
			text-align: center
			ul 
				padding: 0
				li
					list-style: none

		.video-container
			position: relative
			width: 100%
			left: 0
			top: 0
			margin-top: 50px
			right: auto
			margin-bottom: -70px
			transform: scale(1.2)
			transform-origin: center
			.video-wrapper .controls-strip
				bottom: 50%
				transform: translateY(50%)
				.controls
					left: 50%
					transform: translateX(-50%)

	section.joining-section.fifth-sixth
		z-index: 10

	.sixth-slide 
		.section-body
			padding: 100px 0
		.mobile-frame
			transform: scale(1)
			display: table
			float: none
			margin: auto
			margin-bottom: -250px
			&:before
				content: ''
				position: absolute
				bottom: 0
				left: 0
				width: 100%
				height: 100%
				background: linear-gradient(0deg, $purple 20%, transparent 70%)
				z-index: 99
				pointer-events: none
			.video-wrapper
				.controls-strip
					bottom: 50%

		.automate-cont
			margin-top: 0
			text-align: center

	.seventh-slide
		z-index: 1 !important
		.section-body
			padding-bottom: 50px
		.secure-cont 
			text-align: center
			ul
				padding: 0
				li
					list-style: none !important

			&, & + div
				flex: 0 0 100%
				max-width: 100%

		.video-container 
			width: 100%
			position: relative
			margin-top: -100px
			perspective: 300px
			.video-wrapper.left-bent
				transform-origin: center
				transform: rotateX(30deg) scale(1, 0.8)
				.controls-strip .controls
					left: 50%
					transform: translateX(-50%)

	section.joining-section.seventh-eighth
		height: 280px
	section.block.eighth-slide 
		.section-body
			width: 100%
			margin: 150px 0 80px
			position: relative
			z-index: 2
			justify-content: flex-end
			pointer-events: none
		.description 
			background: linear-gradient(0deg, transparentize($bodyBg, 0.3) 70%, transparent )
			padding:  100px 30px 0
			text-align: center
			.secure-cont
				width: 100%
				transform: none
				left: 0
				pointer-events: initial
		.video-container
			right: 0
			z-index: 1
			.video-wrapper
				.controls-strip
					bottom: 50%

	.ninth-slide
		.section-body
			padding-bottom: 150px
		.automate-cont
			margin-bottom: 50px
			&, & + div
				flex: 0 0 100%
				max-width: 100%

			span, ul
				max-width: 80%
				margin: auto
				float: none
				display: table

			.wrap
				transform: none
				text-align: center

			ul
				padding: 0
				text-align: center
				li
					list-style: none
					float: none
					display: inline-block
					width: auto
					margin: 7px 5px
					padding: 5px 20px
					background-color: $white
					color: $purple
					border-radius: 5px

		.video-container 
			width: 100%
			transform: none
			.video-wrapper.left-bent.left-origin
				transform: none
				.controls-strip .controls
					left: 50%
					transform: translateX(-50%)

@media screen and (max-width: 630px)
	.eleventh-slide 
		.api-container
			ul
				li
					flex: 45%

@media screen and (max-width: 540px)
	.systemInitialization 
		h2
			font-size: 5vw
			line-height: 7vw
		.msg3 .vertical-block.vb2
			margin-top: -50px

	.main-title h1
		font-size: 5vw
	span.sub-title
		font-size: 3vw


	.get-started 
		.input-field
			width: 90vw


	.first-slide
		.slide-logo img
			height: 40vw

	.second-slide 
		.second-title 
			.sub-title
				font-size: 5vw

		.how-it-work
			h3
				padding-left: 100px
			p
				text-indent: 80px
		.boxes 
			.user-thumb
				top: 20px
			.user-desc
				padding: 0 10px 10px

			&, &.box2
				.hand1, .hand2
					&.hand1
						width: calc(100% + 10px)
						left: -5px
					&.hand2
						width: calc(100% + 6px)
						left: -4px

	.third-slide
		.backdor-shield
			width: 200%
			left: -50%
			top: -20%

	.eleventh-slide
		h3.sec-title
			font-size: 10vw
