.seventh-slide
	background-color: #14161C
	color: $white
	overflow: hidden
	.bgi
		.svg-wrap
			position: absolute
			top: 50%
			left: 50%
			min-width: calc(100% + 4px)
			min-height: calc(100% + 4px)
			transform: translateX(-50%) translateY(-50%)

		svg
			position: absolute
			min-width: 100%
			min-height: 100%
			top: 0
			left: 0
			path
				// opacity: 0
				&.layer1
					fill-opacity: 1
					opacity: 1
				&.layer2
					fill-opacity: 0.6
				&.layer3
					fill-opacity: 0.5
				&.layer4
					fill-opacity: 0.4
				&.layer5
					fill-opacity: 0.3
				&.layer6
					fill-opacity: 0.2
				&.layer7
					fill-opacity: 0.1
			g
				pointer-events: initial
				fill: $purple
				// &.group2
				// 	fill: $blue_color
				// &.group3
					// fill: #14161C
				// &.group4
				// 	fill: $dark-red
				// &.group5
				// 	fill: $orange_color
				// &.group6
				// 	fill: $orange_color2


	.section-body
		padding: 100px 0 150px

	.automate-cont
		padding: 0 0 50px 0

	// .grid-market-bg
	// 	background: url(../images/grid.png) no-repeat center bottom
	// 	padding-bottom: 250px

	img
		max-width: 100%
		border-radius: 9px

	.secure-cont
		padding: 2% 0px
		ul
			margin-top: 50px
			padding-left: 20px
			li
				margin-bottom: 0
				line-height: 50px
				list-style-type: circle

	.slideshow
		width: 500px
		margin: 0 auto
		overflow: hidden
		border-radius: 8px

	#market
		width: 1360px
		margin-left: -86%
		vertical-align: top
	
	// .video-container
	// 	transform: scale(1.6)

	.video-wrapper
		color: $white
		&.bottom-shade
			&:before
				display: none
				// background: linear-gradient(transparentize($bodyBg, 1), $bodyBg 90%)