@font-face {
  font-family: 'Pirulen';
  src: url('Pirulen.eot') format('embedded-opentype'), url('Pirulen.woff') format('woff'), url('Pirulen.ttf')  format('truetype'), url('Pirulen.svg#Pirulen') format('svg');
  font-weight: normal;
  font-style: normal;
}